<div>
  <div>
    <h1>
      Your todo list
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new todo
    </h2>

    <form action="/insert_todo" method="post">
      <div>
        <label for="content_box">
          Describe the task:
        </label>

        <input type="text" id="content_box" name="query_content">
      </div>

      <div>
        <label for="status_box"></label>
        <input type="hidden" id="status_box" name="query_status">
      </div>

      <div>
        <label for="user_id_box"></label>
        <input type="hidden" id="user_id_box" name="query_user_id">
      </div>
      

      <button>
        Add to Next Up
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div class="next_up" style="color: darkorange">
    <h2>Next Up</h2>
    <ul>

      <% @list_of_todos.each do |a_todo| %>
      
        <li>
          <div>
            <%= a_todo.content %>
          </div>
          <small>
            Added about <%= time_ago_in_words(a_todo.created_at) %> ago
            <a href="/delete_todo/<%= a_todo.id %>">
              Delete
            </a>
          </small>
          <form>
            <input type="hidden" name="query_status" value="in_progress">
            <button>Move to In Progress</button>
          </form>
        </li>
        
      <% end %>
    </ul>
  </div>
</div>

<hr>
